/*body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}*/

/* Add shadow effect to chart. If you don't like it, get rid of it. */


/*Styling for the lines connecting the labels to the slices*/


.riskFactorLabel{
    fill:white;
font-size: 17px;
font-style: italic;
font-weight: 20px;
}
.riskFactorsDetailedIconsRow1{
height:15%;
width:15%;
}

.riskFactorsDetailedIconsRow2{
    height:13%;
    width:13%;
    }

    #riskFactorsDetailedIconsNext{
    
      

        }
#riskFactorsDesc{
    color: white;
}